@import url('https://fonts.googleapis.com/css2?family=Exo&family=Special+Elite&display=swap');
;

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Special+Elite;
}

h1,h2, h3 {
    font-family: exo;
}

header {
    background-image: url("./Assets/img/beans_icon.png");
}

header nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20 px;
}

header nav li {
    display: inline-block;
    right: 1%;
    margin: 10px;
    color: black;
    text-decoration: none;
}

header nav li a:link {
    color: black;
    text-decoration: none;
}

header img:nth-child(2) {
    display: inline-block;
    width: 100%;
    margin-top: 65px;
}

header img:nth-child(3) {
    display: inline-block;
    margin-top: -100%;
    margin-left: 0;
}

header div {
    text-align: left;
    margin-left: 100px;
    width: 40%;
    padding-bottom: 50px;
}

/* section 1 */

#section1 {
    background-image: url(./Assets/img/cake_icon.png);
    }

#section1 img {
    width: 100vw;
}

#section1 h1 {
    text-align: center;
}

#section1 h3 {
    margin: 0;
    padding: 0;
}

#section1 p {
    margin: 0;
    padding: 0;
}

#section1 div:nth-child(3) img {
    width: 10%;
}

#section1 div {
    text-align: center;

}

#section1 div:nth-child(5) {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20%;
    margin: 0px auto
}

#section1 div:nth-child(6) {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20%;
    margin: 2px auto
}

#section1 div:nth-child(8) {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20%;
    margin: 2px auto
}

#section1 div:nth-child(9) {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20%;
    margin: 2px auto
    }

    /* section2 */

    #section2 img:nth-child(1) {
    width: 100vw;
    padding-top: 50px;
    }

    #section2 div:nth-child(2){
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        width: 10%;
        float: left;
        margin-left: 40%;
     }

    #section2 div:nth-child(3) img {
        width: 10%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5%;
        margin-top: 8%;
        
    }

/* section3 */

#section3 img {
    width: 100vw;
    padding-top: 50px;
}

#section3 div:nth-child(2) img {
    width: 10vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40%;
    margin-top: 5.5%;
    float: left;
    background-color: brown;
}
#section3 div:nth-child(3) {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    margin-left: 5%;
    background-color: blueviolet; 
}

/* section4 */
#section4 img {
    width: 100vw;
    padding-top: 50px;
}

#section4 div:nth-child(2) img {
    width: 10vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40%;
    margin-top: 1.5%;
    float: left;

}

#section4 div:nth-child(3) {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    margin-left: 5%;
}

/* footer */

footer{
    background-color: black;
}

footer h3 {
    text-align: center;
    padding-top: 50px;
    color: white;
    margin: 0;
    padding-bottom: 0;
}
footer p{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
footer div {
   margin-left: auto;
   margin-right: auto;
   background-color: blue;
   width: 25%;
   margin-top: 50px;
}
footer div img:nth-child(1) {
    width: 7vw;
    display: block;
    margin: auto;
    
}
footer div img:nth-child(2) {
    width: 7vw;
    display: block;
    margin: auto;
   }
footer div img:nth-child(3) {
    width: 20vw;
    margin: auto;
    display: block;
}